In [35]:
import pandas as pd

In [46]:
data = pd.read_csv("adult.csv",header=0,index_col=False,
                  names=['age','workclass','fnlwgt','education','education-num',
                        'marital-status','occupation','relationship','race','gender',
                        'capital-gain','capital-loss','hours-per-week','native-country','income'])

In [47]:
data = data[['age','workclass','education','gender','hours-per-week','occupation','income']]

In [56]:
data.head()

,age,workclass,education,gender,hours-per-week,occupation,income
0,2,State-gov,Bachelors,Male,2,Adm-clerical,<=50K
1,3,Self-emp-not-inc,Bachelors,Male,0,Exec-managerial,<=50K
2,2,Private,HS-grad,Male,2,Handlers-cleaners,<=50K
3,3,Private,11th,Male,2,Handlers-cleaners,<=50K
4,1,Private,Bachelors,Female,2,Prof-specialty,<=50K

In [49]:
print(data.gender.value_counts())

Male      32650
Female    16192
Name: gender, dtype: int64

### One Hot Encoding
- get_dummies -> 범주형 encoding

In [51]:
data_dummies = pd.get_dummies(data)

In [53]:
display(data_dummies.head())

,age,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,income_<=50K,income_>50K
0,2,2,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,3,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,2,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,2,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,2,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [66]:
features = data_dummies.loc[:,'age':'occupation_Transport-moving']
# Numpy array 추출
X = features.values
y = data_dummies['income_>50K'].values
print("X.shape:{} y.shape:{}".format(X.shape,y.shape))

X.shape:(48842, 42) y.shape:(48842,)

In [68]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

logreg = LogisticRegression()
logreg.fit(X_train,y_train)
print("Test score : {:.2f}".format(logreg.score(X_test,y_test)))

Test score : 0.81

C:\Users\USER\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [70]:
# 숫자와 문자 특성을 띈 DataFrame
demo_df = pd.DataFrame({'숫자 특성':[0,1,2,1],
                        '범주형 특성':['양말','여우','양말','상자']})
display(demo_df)

   숫자 특성 범주형 특성
0      0     양말
1      1     여우
2      2     양말
3      1     상자